.container {
  margin-top: 24px;
  max-width: 500px;
}
.card {
    background-color: rgba(3, 125, 165, 0.726);
    border: 1px solid black;
    border-radius: 4px;
    padding-bottom: 14px;
    padding-top: 14px;
    padding-left: 14px;
    display: flex;
    box-shadow: 8px 8px 12px rgba(100, 100, 100, 0.8);
    transition: transform 0.7s ease-out;
}

 .sliderOut {
  transform: translateX(-110%); 
  
 }



.img-one {
  width: 155px;
  height: 225px;
  border-radius: 4px;
  margin-right: 12px;
}
.list-unstyled {
  list-style: none;
}

.list-stats {
  font-weight: bold;
  font-size: 12pt;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.text-area-one {
  display: flex;
  /* justify-content: center; */
  padding-right: 13px;
}

.page-color {
  background-color: rgba(201, 201, 201, 0.555);
}

.slidIn-btn-area {
  /* display: flex;
  justify-content: center; */
    position: relative;
    bottom: 250px;
}
.sliding-btn {
    background-color: rgba(3, 125, 165, 0.726);
    border: 1px solid gray;
    border-radius: 2px;
    padding: 6px;
    color: white;
}
.sliding-btn:hover {
  background-color: green;
  box-shadow: 0 0 20px gold !important;
}
#insertName{
  position: relative;
  top: 55px;
}
.inputs {
  border: 1px solid gray;
  border-radius: 2px;
  padding: 6px;
}
.tdInput {
  margin-top: 6px;
}


#tdBar {
  width: 135px;
}

#tdBar:focus {
  outline: none !important;
  border-color: rgb(20, 20, 92) !important;
  box-shadow: 0 0 10px rgb(20, 20, 92) !important;
}

#intBar {
  width: 135px;
}

#intBar:focus {
  outline: none !important;
  border-color: blue !important;
  box-shadow: 0 0 10px blue !important;
}
#yrdBar {
  width: 180px;
}

#yrdBar:focus {
  outline: none !important;
  border-color: blue !important;
  box-shadow: 0 0 10px blue !important;
}

#rateBar{
  width: 175px;
}
#rateBar:focus {
  outline: none !important;
  border-color: blue !important;
  box-shadow: 0 0 10px blue !important;
}
.nameInput {
  position: relative;
  top: 12px;
  bottom: 32px;
}
#imgBar:focus{
  outline: none !important;
  border-color: blue !important;
  box-shadow: 0 0 10px blue !important;
}
#imgBar {
  width: 130px;
}
#nameBar:focus{
  outline: none !important;
  border-color: blue !important;
  box-shadow: 0 0 10px blue !important;
}

