.pageContainer {
  margin-top: 24px;
  max-width: 500px;
}

.myCard {
  background-color: rgba(3, 125, 165, 0.96);
  border: 1px solid rgb(0, 0, 0);
  border-radius: 4px;
  padding-bottom: 14px;
  padding-top: 14px;
  padding-left: 14px;
  margin-bottom: 12px;
  display: flex;
  /* box-shadow: 8px 8px 12px rgba(100, 100, 100, 0.8); */
  transition: transform 0.7s ease-out, opacity 0.7s ease-out;
}

.sliderOut {
  transform: translateX(-115%);
}
.sliderRotate {
  transform: translateX(40vw) rotate(720deg) scale(0);
  opacity: 0;
}


.img-one {
  width: 175px;
  height: 225px;
  border-radius: 4px;
  margin-right: 12px;
}

.playerStats {
  font-family: "Courier New", Courier, monospace;
  color: white;
}

.list-unstyled {
  list-style: none;
}

.list-stats {
  font-size: 15pt;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}


.playerNameArea {
  font-size: 22pt;
  text-align: center;
  padding-left: 23px;
}

.page-color {
  background-image: url(/imgs/ftBallImg2.png);
  background-repeat: no-repeat;
  

}




#title {
  font-family: "Courier New", Courier, monospace;
  font-size: 32pt;
  color: white;
}


#tdBar:focus {
  outline: none !important;
  border-color: rgb(20, 20, 92) !important;
  box-shadow: 0 0 10px rgb(20, 20, 92) !important;
}



#intBar:focus {
  outline: none !important;
  border-color: blue !important;
  box-shadow: 0 0 10px blue !important;
}


#yrdBar:focus {
  outline: none !important;
  border-color: blue !important;
  box-shadow: 0 0 10px blue !important;
}



#rateBar:focus {
  outline: none !important;
  border-color: blue !important;
  box-shadow: 0 0 10px blue !important;
}



#imgBar:focus {
  outline: none !important;
  border-color: blue !important;
  box-shadow: 0 0 10px blue !important;
}


#nameBar:focus {
  outline: none !important;
  border-color: blue !important;
  box-shadow: 0 0 10px blue !important;
}
